# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo
*.log

# Poetry
.env
.venv/

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
renv/library/
renv/python/
renv/staging/
renv/

# Notebooks
.ipynb_checkpoints/
/notebooks/*.html
/notebooks/rsconnect/
/notebooks/.jupyter/
/notebooks/.virtual_documents/

# JetBrains IDEs
.idea/

# Jupyter
.jupyter/
.virtual_documents/

# VSCode
.vscode/

# OS
.DS_Store

# Tests and coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Docker & Airflow
docker-compose.override.yml
__pypackages__/
logs/
dags/__pycache__/
airflow.db
airflow.cfg

# Models and temp outputs
models/
*.h5
*.pkl
*.joblib

# Build and dist
build/
dist/
*.manifest
*.spec

# R / renv
.Rprofile
renv/library/
renv/python/
renv/staging/

# Datasets locals
data/processed/
data/ml-1m/
!data/recommendations.db

# Demo database and matrices
data/demo/*
!data/demo/*.db
data/processed_demo/*.npy
data/processed_demo/*.npz

# Models
models/

# Backend API
!backend/models